
*{
	padding: 20px;
}
.container{
	display: flex;
	flex-flow: row nowrap;
	flex:1 1 0;
	justify-content: space-between;
	align-items: center;
	border: 1px solid #aaa;
}	
.container>div{
	box-sizing:border-box;
	width: 150px;
	border: 1px solid #f00;
	margin-bottom: 10px;
}
.box1{
	height: 120px;
}
.box2{
	height: 100px;
}
.box3{
	height: 40px;
}
div.box4{
	height: 200px;
	border: 1px solid #0f0;
}
@media all and (max-width: 640px){
	.box4{
		order: -1;
	}
	.container{
		flex-wrap: wrap;
		align-items: flex-start;
	}
	
}